---
---

<main>
  <form method="POST" style="display: grid" enctype="multipart/form-data">
    <label for="author">Autor</label>
    <input id="author" name="author" />
  
    <textarea name="content"></textarea>
  
    <button type="submit">Enviar</button>
  </form>
  </main>